<%- include('../partials/header') %>

    <form id="new-form" action="/books" method="POST">
        <label>Title:</label>
        <input type="text" name="title">
        <label>Author:</label>
        <input type="text" name="author">
        <label>Genre:</label>
        <select name="genre">
            <option value="Sci-Fi/Fantasy">Sci-Fi/Fantasy</option>
            <option value="Mystery/Thriller">Mystery/Thriller</option>
            <option value="Young-Adult">Young-Adult</option>
            <option value="Horror">Horror</option>
            <option value="Fiction">Fiction</option>
            <option value="Non-Fiction">Non-Fiction</option>
            <option value="Graphic Novel">Graphic Novel</option>
        </select>
        <input class="book-button" type="submit" value="Add Book">
    </form>

    <%- include('../partials/footer') %>