* {
  box-sizing: border-box;
}

body {
  width: 100%;
  font: 14px "Arial", sans-serif;
  background-color: rgb(241, 238, 238);
  background: url("https://i.imgur.com/02zcVqO.png") rgb(241, 238, 238) bottom
    center repeat;
  background-size: 250vmin 150vmin;
  margin: 0 auto;
  height: 100vh;
  display: grid;
  grid-template-rows: 50px 1fr;
  grid-template-areas:
    "nav"
    "main";
}

a {
  color: #25336d;
  text-decoration: none;
  padding: 7px;
  font-weight: 900;
}
nav > a {
  color: rgb(241, 238, 238);
}
nav > a:hover:not(.active) {
  background-color: rgb(241, 238, 238);
  color: #25336d;
  border-radius: 0.5em;
  padding: 7px 7px;
}

nav > a.active {
  color: #25336d;
  cursor: default;
}

nav {
  grid-area: nav;
  font-size: 1.3em;
  font-weight: bold;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: rgba(37, 51, 109, 0.7);
  padding: 10px 20px;
}
nav a:first-child:hover {
  background-color: transparent;
}
nav a:first-child {
  object-fit: contain;
  margin-right: auto;
}
.login img {
  height: 15px;
}
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  text-align: center;
  width: 100%;
}

.welcome {
  text-align: right;
  margin: 15px 30px 100px 0;
  font-size: 18px;
  font-weight: 900;
  color: rgb(37, 51, 109);
}

.fade-in {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 60px;
  text-transform: none;
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 20s;
  animation-fill-mode: forwards;
  padding-left: 30px;
  margin-bottom: 20%;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid #25336d 5px;
  border-radius: 25px;
  padding: 60px 70px 70px 70px;
  background-color: rgb(241, 238, 238);
  border: dashed #25336d 5px;
  border-radius: 25px;
  font-size: large;
  margin: 7% auto 50% auto;
  text-align: center;
  max-width: 100%;
  min-width: 50%;
  position: relative;
}

h1 {
  font-size: 35px;
  color: #25336d;
  text-align: center;
}
h2 {
  color: #25336d;
}
#new-form {
  font-size: 1em;
  text-align: left;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  column-gap: 1em;
  row-gap: 2em;
  margin: 0 20%;
  max-width: 600px;
  position: relative;
}

.show-page {
  display: grid;
  grid-template-columns: 90px 1fr;
  grid-template-rows: 1fr 1fr;
  text-align: start;
  font-size: larger;
  color: #25336d;
  row-gap: 20px;
  column-gap: 10px;
  font-weight: bolder;
  background-color: transparent;
  border: dashed #25336d 3px;
  border-radius: 1em;
  padding: 30px 50px;
}

.review-field {
  display: grid;
  grid-template-columns: 15vmin 60vmin;
  grid-template-rows: 1fr 1fr 1fr;
  row-gap: 20px;
  column-gap: 20px;
  text-align: center;
  max-width: 100%;
}
#review-button {
  grid-column-start: 2;
  column-span: 2;
  margin-left: 70%;
}
label {
  padding-top: 7px;
  color: #25336d;
  font-size: 1.2em;
  font-weight: 700;
  text-align: start;
}
select {
  width: 100%;
  padding-left: 10px;
  text-align: right;
}

textarea {
  width: 100%;
  height: 5em;
  border-radius: 0.7em;
  grid-column-start: 2;
  display: flex;
}
.review-box {
  grid-row-start: 1;
  color: #25336d;
  padding-bottom: 5px;
  padding-top: 20px;
  text-align: start;
}
.rating-label {
  padding-top: 20px;
}

.all-books-container,
.list-title-container {
  display: grid;
  grid-template-columns: 2.5fr 2fr 2fr;
  text-align: left;
  padding-left: 2em;
  column-gap: 2em;
  row-gap: 2em;
  max-width: 800px;
}

#title-label,
#author-label,
#genre-label {
  color: rgb(241, 238, 238);
  background-color: #25336d;
  text-align: center;
  border-radius: 0.3em;
  padding: 5px 0;
}

.bookt {
  grid-column-start: 1;
  color: #25336d;
  font-style: oblique;
  font-size: 1.1em;
}
.booka {
  grid-column-start: 2;
}
.bookg {
  grid-column-start: 3;
}
.bookd {
  grid-column-start: 4;
}

input,
button {
  height: 40px;
  background-color: #25336d;
  color: rgb(241, 238, 238);
  border-radius: 0.7vmin;
}

select {
  border-radius: 0.7vmin;
  padding: 10px;
  font-size: medium;
  color: #25336d;
}
.book-button {
  grid-column-start: 2;
  margin-left: 20vmin;
}

.review-display {
  display: grid;
  grid-template-columns: 250px 1fr 200px .5fr .3fr .3fr;
  grid-template-rows: 1fr 1fr 1fr;
  row-gap: 10px;
  column-gap: 10px;
  text-align: center;
  border:rgb(37, 51, 109) dashed .3em;
  border-radius: 2em;
  padding: 20px 50px 30px 40px;
  font-size: .9em;
  margin: 0 10%;
  color:rgb(37, 51, 109);
}

.review-display > div {
  display: flex;
  align-items: center;
  justify-content: center;
}


.review-user > img {
  border-radius: 20%;
  border: dashed #25336d;
  height: 70px;
  display: flex;
  margin-right: 20px;
}

.average {
  grid-column-start: 4;
  grid-row-start: 3;
  font-weight: 900;
  color: #25336d;
}

@media only screen and (max-width: 1200px) {
  main {
    margin: 10% auto;
    position: relative;
  }
  nav {
    font-size: small;
  }
  .fade-in {
    position: relative;
  }
  nav img:first-child {
    height: 35px;
  }
  .all-books-container {
    position: relative;
    font-size: small;
    column-gap: 1em;
  }
  div > img {
    height: 190px;
  }
  .login img {
    max-height: 10px;
  }
}
