* {
  box-sizing: border-box;
}

body {
  padding: 2.5%;
  font: 14px "Arial", sans-serif;
  height: 100vh;
  margin: 0;
  background-color: rgb(241, 238, 238);
  background: url("https://i.imgur.com/qDcplSt.png") bottom center no-repeat;
  background-size: 250vmin 100vmin;
}

a {
  color: #25336d;
  text-decoration: none;
  padding: 5px;
}

nav > a:hover:not(.active) {
  color: white;
  background-color: #25336d;
  border-radius: 5px;
}

nav > a.active {
  color: grey;
  cursor: default;
}

nav {
  text-align: right;
  font-size: 1.5vh;
  margin-bottom: 60px;
}

nav > .logo-top {
  text-align: left;
  margin-right: 100%;
}

nav a:first-child:hover {
  background-color: transparent;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px;
  text-align: center;
}

.welcome {
  text-align: right;
  margin-bottom: 0;
}

.fade-in {
  font-size: 60px;
  text-transform: none;
  animation: fadeInAnimation ease 5s;
  animation-iteration-count: 20s;
  animation-fill-mode: forwards;
  text-align: center;
  margin-top: 150px;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

p {
  margin: 0 auto;
  text-align: center;
  font-size: 25px;
  background-color: #25336d;
  padding: 15px;
  border-radius: 1vmin;
  width: 22em;
  color: white;
}

main {
  background-color: white;
  padding: 20px;
  margin: 0 30%;
  border: solid #25336d 5px;
  border-radius: 25px;
  text-align: center;
}

h1 {
  font-size: 35px;
  color: #25336d;
}
table #list {
  font-size: 50px;
}
